name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install pydocstyle

      - name: Lint with flake8 and pydocstyle
        run: |
          flake8 . --max-line-length=120 --show-source --statistics
          pydocstyle . --add-ignore=D202
